<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Type</key>
		<string>Copyrights</string>
		<key>Name</key>
		<string>Support / Feedback</string>
		<key>VendorName</key>
		<string>tanuki</string>
		<key>VendorLogo</key>
		<string>Icon</string>
		<key>Services</key>
		<array>
			<dict>
				<key>Type</key>
				<string>URL</string>
				<key>Title</key>
				<string>Web</string>
				<key>URL</key>
				<string>http://tanuki.in/</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>URL</string>
				<key>Title</key>
				<string>Twitter</string>
				<key>Subtitle</key>
				<string>@tanuki</string>
				<key>URL</key>
				<string>http://twitter.com/tanuki</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>URL</string>
				<key>Title</key>
				<string>Facebook</string>
				<key>Subtitle</key>
				<string>haruka.togawa</string>
				<key>URL</key>
				<string>http://facebook.com/haruka.togawa</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Mail</string>
				<key>Title</key>
				<string>Send mail</string>
				<key>Subtitle</key>
				<string></string>
				<key>ToAddress</key>
				<string>haruka@tanuki.in</string>
				<key>Body</key>
				<string>Please write your questions/comments here.



Please DO NOT remove the below this. This is the information that need to support.
</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>AppStoreReview</string>
				<key>Title</key>
				<string>Review on App Store</string>
				<key>AppleID</key>
				<string>395634685</string>
				<key>Message</key>
				<string>Thank you for buying our app. If you like this app, please review and rate this app. We need your support. Take a moment to leave your feedback at the App Store. It won&apos;t take more then a minute to do so. Thank you very much.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>License</string>
		<key>Name</key>
		<string>License / Acknowledgement</string>
		<key>Description</key>
		<string>gma;dflgf
adfg
adg
g
fag
afgaf
gafg

f
gag
afg


agf
fgfadgad
fgad
gad
gdafgafdgadfg</string>
	</dict>
</array>
</plist>
