<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Type</key>
		<string>Copyrights</string>
		<key>Name</key>
		<string>Support / Feedback</string>
		<key>VendorName</key>
		<string>palnyan</string>
		<key>VendorLogo</key>
		<string>palnyan</string>
		<key>Services</key>
		<array>
			<dict>
				<key>Type</key>
				<string>URL</string>
				<key>Title</key>
				<string>Web</string>
				<key>URL</key>
				<string>http://palnyan.com/</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>URL</string>
				<key>Title</key>
				<string>Twitter</string>
				<key>Subtitle</key>
				<string>@palnyan</string>
				<key>URL</key>
				<string>http://twitter.com/palnyan</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Mail</string>
				<key>Title</key>
				<string>Send mail</string>
				<key>Subtitle</key>
				<string></string>
				<key>ToRecipients</key>
				<array>
					<string>info@palnyan.com</string>
				</array>
				<key>Subject</key>
				<string>{BundleName} Support</string>
				<key>Body</key>
				<string>Please write your questions/comments here.




Please DO NOT remove the below this. This is the information that need to support.
==============================
{BundleName} {Version} ({Build})
{DeviceModel} (iOS {SystemVersion})
==============================</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>AppStoreReview</string>
				<key>Title</key>
				<string>Review on App Store</string>
				<key>AppleID</key>
				<string>395634685</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>License</string>
		<key>Name</key>
		<string>Acknowledgements</string>
		<key>DescriptionExample</key>
		<string>long text here
linebreak enabled
aaa
bbb
ccc</string>
		<key>Description</key>
		<dict>
			<key>Type</key>
			<string>plist</string>
			<key>Filename</key>
			<string>Acknowledgements</string>
		</dict>
	</dict>
</array>
</plist>
